@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@1&family=Permanent+Marker&display=swap');
body {
    background-image: radial-gradient(rgb(255, 255, 255), rgb(2, 2, 2) );
    background-color: #cccccc;
    color:aqua;
    align-items: center;
    justify-content:center;
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Cabin', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    margin-inline-start: 10%;
    
}

header h1 {
    
    font-size: 40px;
    text-shadow: 5px 15px 15px black;
    display: inline;
    border: 5px color darkgray;
}

#viewScores:hover {
      cursor: pointer;
      color: whitesmoke
}

.timer {
    margin-inline-end: 10%;
    font-size: 40px;
    color: aqua;
    display: inline;
    text-align: right;
  
}

.startContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    padding: 20px;
}

h2 {
    color:aqua;
    font-size: 35px;
    text-shadow: 5px 15px 15px black;
    text-align: center;
}

p {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    color:black;
    font-size: 20px;
    font-weight: bold;
}

#questionContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    margin: auto;
    padding: 20px;
    color: black;
}

.show {
     display:contents;
            
}

.hide {
     display: none;
}

#question {
    color: black;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
}

#startButton{
    width: 224px;
    height: 44px;
    background:black;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    border-color: aqua;
    margin-left:40%;
    box-shadow: 5px 15px 15px black;
    margin-top: 5px;
    
}
#again {
    background:black;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    border-color: aqua;
    margin-left:40%;
    box-shadow: 5px 15px 15px black;
    margin-top: 5px;
}
#clearScores {
    background:black;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    border-color: aqua;
    
    box-shadow: 5px 15px 15px black;
    margin-top: 5px;
}
.button:focus {
      outline: none;
  }

.button-grid {
      display: flex;
      flex-direction: column;
      margin: 10px;
      padding: 15px;
      
      grid-template-rows: repeat(4, auto);
      
      margin: 20px 0;
      border-radius: 15px black;
}

#displayScoreList{
    color:aqua;
    font-size: 35px;
    text-shadow: 5px 15px 15px black;
    text-align: center;
}

button.button.answerButton {
     width: auto;
     text-align: left;
     font-size: 20px;
     margin: 15px;
}

#theScorePage{
    align-items: center;
    justify-content:center;
}


.initials{
    align-content: center;
    text-align: center;

}
 
ol {
    list-style-type: number;
    color:black;
    font-weight: bold;
    font-size: 35px;
    text-shadow: 5px 15px 15px black;
    text-align: center;
    margin-left:35%;
    margin-right:35%;

}

li {
    font-size: 20px;
}
